In [9]:
import pandas as pd

In [10]:
df = pd.read_excel("data/timesheets_summary.xlsx", sheet_name="summary")

my_project_name = {
    "Evaluation de la refonte Fosphor": "a667a0ab-8290-401f-b2fb-f7fe96a292c8",
    "ACE SG - KPIs déportés": "a7d39f9f-cd56-4403-9acf-03cef2690660"
}

my_project_df = df[df["project"].isin(my_project_name)]

my_project_df_gr = my_project_df.groupby(
    ["client", "project", "task", "username", "week"],
    as_index=False
)["volume"].sum()

my_project_df_gr["project_id"] = my_project_df_gr["project"].map(my_project_name)

In [13]:
(
    my_project_df_gr[my_project_df_gr["project"] == "Evaluation de la refonte Fosphor"]
    .groupby(
        ["username"],
        as_index=False
    )
    ["volume"].sum()
)

                 username  volume
0              Aya Hankir   11.40
1             Jimmy Abner    1.75
2             Louis Giron    8.30
3  Paul-Alexandre Bouhana    1.95